body{
    background-color: gold;
    font-family: sans-serif;
}

form {
    border: none;
    }

ul {
    list-style: none;
    padding-bottom: 10px;
    }

li {
    margin: 0.5em;
    }

label {
    display: inline-block;
    padding: 10px;
    text-align: right;
    width: 150px;
    }

h1 {
	font-family: 'Pinyon Script', cursive;
    width:400px;
	color: #fff;
	font-size: 5em;
	text-align: center;
	padding: 0.3em 0.5em;
    margin-left:20px;
}

.button{
    margin-left:220px;
}

.fullSpeech{
    margin-left:220px;
    margin-top: 40px;
    width:400px;
    line-height:30px;
    padding-bottom: 100px;
}

img{
    position: fixed;
    left:750px;
    top:60px;
}
